/* app css stylesheet */


/*#thumbnail_package{*/
  /*width: 200px;*/
  /*height: 240px;*/
  /*padding: 2px;*/
/*}*/

.navbar .navbar-primary #nav_main{
  border:1px;
  /*width:90%;*/
}

#media_nav{

}

#media_btn{
  margin-right:0px;
}

#table_theme{

}


/*roomType starts from here*/
img.thumbnail_media{
  width:200px;
  height: auto;
}

.roomTypePage{
  width: 60%;
  float: left;
}

.thumbnail{
  /*width: 30%;*/
  float: left;
  margin-right:100px;
  margin-bottom:100px;
  display: inline-block;
}
.roomTypePageViewBG {
  width: 179px;
  height: 45px;
  background-image: url("../img/u149.png");
}
.roomTypePageViewBG p{
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}
.roomTypePageView {
  /*width: 30%;*/
  float: left;
  /*margin-right:50px;*/
  /*margin-bottom:50px;*/
  margin: auto;
  display: inline-block;
}

/*assets panel start from here*/
.assetspanel{
  position:fixed;
  right:0;
  top: 170px;
  height:70%;
  width: 40%;
  float: right;
  margin-right: 0px;
}

.assetsLabel{
  height: 400px;
  overflow-Y: scroll;
}
.assetspanelBody{
  width: 100%;
  height: 30px;
}
.assetspanelTitleInput {
  width:70%;
  display: inline-block;
}
.assetspanelTitleSelect{
  display: inline-block;
  height: inherit;
  vertical-align: middle;

}

.assetsLabelLine{
  width: 100%;
  heigh:50px;
}
.assetsLabelImage {
  display: inline-block;
  background-color: black;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.assetsLabelLabel{
  display: inline-block;
  height: inherit;
  vertical-align: middle;
  text-align: match-parent;
}

.assetsLabelDropdown{
  display: inline-block;
  height: inherit;
}
/*assets panel ends here*/

/*packages start from here*/
.packagesPage{
  width: 60%;
  float: left;
}
.packagesPageView {
  /*width: 30%;*/
  float: left;
  /*margin-right:50px;*/
  /*margin-bottom:50px;*/
  margin: auto;
  display: inline-block;
}

/*packages ends here*/
