<div class="row">
    <div class="col-lg-12">
    <h1>Template Configuration</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
    <table class="table">
    <thead>
      <tr>
        <th>Template Style</th>
        <th>Edit Color</th>
        <th>Current Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr>
      <tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr>
      <tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr>
      <tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr>
      <tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr>
      <tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr><tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr><tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr><tr>
        <td>Global Navigation Bar Background</td>
        <td><input colorpicker type="text" ng-model="your_model" value="#cc0000" /></td>
        <td><div style="width: 50px; height: 30px; background: #0082C8;"></div></td>
      </tr>
      
      
      
    </tbody>
  </table>
    </div>
    <div class="col-lg-6">
        
        <img src="img/u1216.png" style="width: 100%;" />
    </div>
</div>
