<div class="row">
  <div class="col-lg-12">
    <div>
      <nav id="media_nav" class="navbar navbar-primary navbar-left">
        <div class="navbar-header">
          <ul class="nav nav-tabs">
            <li><a ui-sref="media.roomType">RoomType</a></li>
            <li><a ui-sref="media.packages">Packages</a></li>
            <li><a ui-sref="media.groups">Groups</a></li>
            <li><a ui-sref="media.branding">Branding</a></li>
            <li><a ui-sref="media.iconography">Iconography</a></li>
          </ul>
        </div>
      </nav>

      <div id="c" align="right">
        <button type="button" class="btn btn-default navbar-btn"><a ui-sref="#">Preview</a></button>
        <button type="button" class="btn btn-default navbar-btn"><a ui-sref="#">Cancel</a></button>
        <button type="button" class="btn btn-default navbar-btn"><a ui-sref="#">Save</a></button>
      </div>
    </div>

    <br>
    <div ui-view></div>
  </div>
</div>
