<div class="row">
<div class="col-lg-12">
<h1>This is for configuration.</h1>
<div class="mce-container">
  <div class="panel-group" id="accordion"> <!-- accordion 1 -->
    <div class="panel panel-default">  <!-- accordion 2 -->

      <div class="panel-heading">
        <h4 class="panel-title"> <!-- title 2 -->
          <a data-toggle="collapse" data-parent="#accordion" href="#accordionTwo">
            Calandar
          </a>
        </h4>
      </div>
      <!-- panel body -->
      <div id="accordionTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <h5>Calendar AAA</h5>
          <h5>Calendar BBB</h5>
          <h5>Calendar CCC</h5>
        </div>
      </div>

    </div>

    <div class="panel panel-success">  <!-- accordion 3 -->

      <div class="panel-heading">
        <h4 class="panel-title"> <!-- title 3 -->
          <a data-toggle="collapse" data-parent="#accordion" href="#accordionThree">
            Room Title
          </a>
        </h4>
      </div>
      <div id="accordionThree" class="panel-collapse collapse">
        <!-- panel body -->
        <div class="panel-body">
          <h5>Title AAA</h5>
          <h5>Title BBB</h5>
          <h5>Title CCC</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>